<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customorder" translate="label" sortOrder="200">
            <label>Custom Order/Invoice Id</label>
        </tab>
        <section id="customorder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Order/Invoice Id</label>
            <tab>customorder</tab>
            <resource>EmizenTech_CustomOrderNumber::config_customordernumber</resource>
            <group id="customorderinvoce" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="customorder_grp" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Order Id Setting</label>
                <field id="prefix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Prefix</label>
                    <comment></comment>
                </field>
                <field id="postfix" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Postfix</label>
                    <comment></comment>
                </field>
                <field id="startfrom" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start From</label>
                    <validate>required-entry</validate>
                    <comment></comment>
                </field>
            </group>
            <group id="custominvoice_grp" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Invoice Id Setting</label>
                <field id="prefix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Prefix</label>
                    <comment></comment>
                </field>
                <field id="postfix" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Postfix</label>
                    <comment></comment>
                </field>
                <field id="startfrom" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start From</label>
                    <validate>required-entry</validate>
                    <comment></comment>
                </field>
            </group>
        </section>
    </system>
</config>
